/* ================ */
/* CUSTOM BOOTSTRAP */
/* ================ */

/* Define new container to disable responsiveness */
.container-unresponsive {
  max-width: none !important;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1200px) {
  .container-unresponsive {
    width: 970px !important;
  }
}

.container-unresponsive-970 {
  width: 970px !important;
}

.container-internal{
  min-width: 970px !important;
}

/* ============= */
/* COLOR PALETTE */
/* ============= */

.color-green{ color: #93c043; }
.color-white{ color: #f1f5f7; }
.color-lightgrey{ color: #e3e4e5; }
.color-lightmediumgrey{ color: #bfbdbd; }
.color-mediumgrey{ color: #808080; }
.color-mediumgrey-2{ color: #434343; }
.color-darkgrey{ color: #3d454e; }

/* ======= */
/* GLOBALS */
/* ======= */

a, body a{
	color:#94c245;
  text-decoration: none;
  font-weight:400;
}

a.dotted{
  border-bottom: 1px #35a167 dotted;
}

a:hover, body a:hover{
	color:#35a167;
  text-decoration: none;
}

html, body {
  height: 100%;
  margin: auto;
  font-size: 14px;
  max-width: none;
  color: #808080;
  font-weight:300;
  line-height: 1.8;
  font-family: "pragmatica-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
	margin-top: 20px;
	margin-bottom: 20px;
  color: #3d454e;
  font-weight:400;
}

h1{
  font-size: 3.8em;
  line-height:1.4;
}

.h1-sm{
  font-size: 3.3em;
}

h2 {
  font-size: 2.5em;
  line-height:1.4;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #3d454e;
  font-weight:400;
  font-size: 1.3em;
}

p {
  margin: 0 0 20px;
}

strong {
  font-weight:500;
  color: #434343;
}

small {
  font-size: 85%;
}

.lead{
	font-size: 20px;
}

/* =============== */
/* GENERAL HELPERS */
/* =============== */

/* NOBRAINERS */
.italic{font-style: italic;}
.bold{font-weight:700;}
.semibold{font-weight:400;}
.regularweight{font-weight:300;}
.weight-700{font-weight:700;}
.weight-500{font-weight:500;}
.weight-400{font-weight:400;}
.weight-300{font-weight:300;}
.weight-200{font-weight:200;}
.underline{text-decoration: underline;}
.pragmatica{font-family: "pragmatica-web", "Helvetica Neue", Helvetica, Arial, sans-serif;}
.opensans{font-family: "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;}

/* HEADINGS */
.border-bottom{
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.serif{font-family:'adelle', 'Helvetica Neue', Helvetica, sans-serif;}

/* FONT SIZES */
.font-largebg{font-size:4em;}
.font-xxxxxxl{font-size:3em;}
.font-xxxxxl{font-size:2.5em;}
.font-xxxxl{font-size:2em;}
.font-xxxl{font-size:1.8em;}
.font-xxl{font-size:1.6em;}
.font-xl{font-size:1.4em;}
.font-lg{font-size:1.25em;}
.font-md{font-size: 1.15em;}
.font-standard{font-size: 1em;}
.font-sm{font-size: 0.9em;}
.font-xsm{font-size: 0.85em;}
.font-xs{font-size: 0.8em;}
.font-xxs{font-size: 0.7em;}

.uppercase{text-transform: uppercase;}

/* PADDINGS & MARGINS */
.page-inner{margin-top:30px;margin-bottom:40px;}

.padding-sm{padding: 20px;}
.padding-xs{padding: 10px;}
.padding-xxs{padding: 5px;}

.padding-l-xxxl{padding-left:120px;}
.padding-l-xxl{padding-left:100px;}
.padding-l-xl{padding-left: 80px;}
.padding-l-lg{padding-left: 60px;}
.padding-l-md{padding-left: 40px;}
.padding-l-sm{padding-left: 20px;}
.padding-l-xs{padding-left: 10px;}
.padding-l-none{padding-left: 0;}

.padding-r-xl{padding-right: 80px;}
.padding-r-lg{padding-right: 60px;}
.padding-r-md{padding-right: 40px;}
.padding-r-sm{padding-right: 20px;}
.padding-r-xs{padding-right: 10px;}
.padding-r-none{padding-right: 0;}


.padding-internal{
  padding-right: 30px;
  padding-left:260px;
}
@media (max-width: 1200px) {
  .padding-internal{
    padding-right: 20px;
    padding-left:250px;
  }
}


.padding-t-xxl{padding-top: 100px;}
.padding-t-xl{padding-top: 80px;}
.padding-t-lg{padding-top: 60px;}
.padding-t-md{padding-top: 40px;}
.padding-t-sm{padding-top: 20px;}
.padding-t-xs{padding-top: 10px;}
.padding-t-xxs{padding-top: 5px;}
.padding-t-xxxs{padding-top: 3px;}
.padding-t-none{padding-top: 0px;}

.padding-b-xl{padding-bottom: 80px;}
.padding-b-lg{padding-bottom: 60px;}
.padding-b-md{padding-bottom: 40px;}
.padding-b-sm{padding-bottom: 20px;}
.padding-b-xs{padding-bottom: 10px;}
.padding-b-xxs{padding-bottom: 5px;}

.padding-h-xxl{padding-left:100px;padding-right:100px;}
.padding-h-lg{padding-left:60px;padding-right:60px;}
.padding-h-md{padding-left:40px;padding-right:40px;}
.padding-h-sm{padding-left:20px;padding-right:20px;}
.padding-h-xs{padding-left:10px;padding-right:10px;}

.padding-v-xxl{padding-top: 100px;padding-bottom:100px;}
.padding-v-xl{padding-top: 80px;padding-bottom:80px;}
.padding-v-lg{padding-top: 60px;padding-bottom:60px;}
.padding-v-md{padding-top: 40px;padding-bottom:40px;}
.padding-v-sm{padding-top: 20px;padding-bottom:20px;}
.padding-v-xs{padding-top: 10px;padding-bottom:10px;}
.padding-v-xxs{padding-top: 5px;padding-bottom:5px;}
.padding-v-none{padding-top: 0;padding-bottom:0;}

.padding-tb-xl{padding-top: 80px;padding-bottom:60px;}
.padding-tb-lg{padding-top: 60px;padding-bottom:40px;}
.padding-tb-md{padding-top: 40px;padding-bottom:20px;}
.padding-tb-sm{padding-top: 20px;padding-bottom:10px;}

.padding-bt-xlg{padding-top: 60px;padding-bottom:80px;}
.padding-bt-lg{padding-top: 40px;padding-bottom:60px;}
.padding-bt-md{padding-top: 20px;padding-bottom:40px;}
.padding-bt-sm{padding-top: 10px;padding-bottom:20px;}
.padding-bt-xs{padding-top: 5px;padding-bottom:10px;}

.margin-auto{margin:auto;}

.margin-l-xxl{margin-left:100px;}
.margin-l-xl{margin-left:80px;}
.margin-l-lg{margin-left:60px;}
.margin-l-md{margin-left:40px;}
.margin-l-sm{margin-left:20px;}
.margin-l-xs{margin-left:10px;}

.margin-r-sm{margin-right:20px;}

.margin-t-xl{margin-top:80px;}
.margin-t-lg{margin-top:60px;}
.margin-t-md{margin-top:40px;}
.margin-t-sm{margin-top:20px;}
.margin-t-xs{margin-top:10px;}
.margin-t-xxs{margin-top:5px;}
.margin-t-none{margin-top:0px;}
.margin-t-2{margin-top:2px;}
.margin-t-1{margin-top:1px;}

.margin-b-lg{margin-bottom:60px;}
.margin-b-md{margin-bottom:40px;}
.margin-b-sm{margin-bottom:20px;}
.margin-b-xs{margin-bottom:10px;}
.margin-b-xxs{margin-bottom:5px;}
.margin-b-none{margin-bottom:0px;}

.margin-h-auto{margin-left: auto;margin-right: auto;}

.margin-h-lg{margin-left: 60px;margin-right: 60px;}
.margin-h-md{margin-left: 40px;margin-right: 40px;}
.margin-h-sm{margin-left: 20px;margin-right: 20px;}

.margin-v-auto{margin-top: auto;margin-bottom: auto;}
.margin-v-none{margin-top: 0;margin-bottom: 0;}

.margin-v-xl{margin-top: 80px;margin-bottom: 80px;}
.margin-v-lg{margin-top: 60px;margin-bottom: 60px;}
.margin-v-md{margin-top: 40px;margin-bottom: 40px;}
.margin-v-sm{margin-top: 20px;margin-bottom: 20px;}
.margin-v-xs{margin-top: 10px;margin-bottom: 10px;}

.margin-tb-xl{margin-top: 80px;margin-bottom: 60px;}
.margin-tb-lg{margin-top: 60px;margin-bottom: 40px;}
.margin-tb-md{margin-top: 40px;margin-bottom: 20px;}
.margin-tb-sm{margin-top: 20px;margin-bottom: 10px;}

.margin-bt-lg{margin-top: 40px;margin-bottom: 60px;}
.margin-bt-md{margin-top: 20px;margin-bottom: 40px;}
.margin-bt-sm{margin-top: 10px;margin-bottom: 20px;}

.margin-n-l-40{margin-left:-40px;}

.margin-n-r-50{margin-right:-50px;}

.margin-n-t-5{margin-top:-5px;}
.margin-n-t-10{margin-top:-10px;}
.margin-n-t-25{margin-top:-25px;}
.margin-n-t-200{margin-top:-200px;}
.margin-n-t-250{margin-top:-250px;}
.margin-n-t-300{margin-top:-300px;}

.margin-n-b-10{margin-bottom:-10px;}
.margin-n-b-25{margin-bottom:-25px;}

/* BACKGROUND */
.bg-primary{background-color: #94c245;}
.bg-green{background-color: #94c245;}
.bg-navy{background-color: #293f46;}
.bg-whitegrey{background-color: #f1f5f7;}
.bg-verlightgrey{background-color: #e3e4e5;}
.bg-lightgrey{background-color: #f5f5f5;}
.bg-grey{background-color: #808080;}
.bg-mediumgrey{background-color: #434343;}
.bg-darkgrey{background-color: #3d454e;}
.bg-white{background-color: #ffffff;}
.bg-black{background-color: #191a1e;}
.bg-none{background-color: 0;background-image: none;}

.bg-transparent-50{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
  filter: alpha(opacity=50);  /* IE 5-7 */
  -moz-opacity: 0.5;          /* Netscape */
  -khtml-opacity: 0.5;        /* Safari 1.x */
  opacity: 0.5;               /* Good browsers */
}
.bg-transparent-60{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";       /* IE 8 */
  filter: alpha(opacity=60);  /* IE 5-7 */
  -moz-opacity: 0.6;          /* Netscape */
  -khtml-opacity: 0.6;        /* Safari 1.x */
  opacity: 0.6;               /* Good browsers */
}
.bg-transparent-70{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";       /* IE 8 */
  filter: alpha(opacity=70);  /* IE 5-7 */
  -moz-opacity: 0.7;          /* Netscape */
  -khtml-opacity: 0.7;        /* Safari 1.x */
  opacity: 0.7;               /* Good browsers */
}

/* TEXT */
.text-white{color:#fff;}
.text-primary{color:#94c245;}
.text-primary:hover{color:#94c245;}
.text-grey{color:#888999;}
.text-lightgrey{color:#999999;}
.text-blue{color:#1d6dcf;}
.text-black{color:#333;}
.text-red{color:#f22020;}
.link-white{color:#fff;}
.link-white:hover{color:#fff;}
.link-lightgrey{color:#e3e4e5;}
.link-lightgrey:hover{color:#e3e4e5;}
.link-lightgrey:active{color:#e3e4e5;}
.link-grey{color:#808080;}
.link-grey:hover{color:#808080;}
.link-grey:active{color:#808080;}
.link-darkgrey{color: #3d454e;}
.link-darkgrey:hover{color: #3d454e;}
.link-black{color:#333;}
.link-black:hover{color:#333;}
.hover-underline:hover{text-decoration: underline;}

/* BORDERS */
.border-none{border:0;}
.border-1-grey{border: 1px solid rgba(0,0,0,0.12);}
.border-2-grey{border: 2px solid rgba(0,0,0,0.12);}
.border-3-grey{border: 3px solid rgba(0,0,0,0.12);}
.border-1-t-grey{border-top: 1px solid rgba(0,0,0,0.12);}
.border-1-l-grey{border-left: 1px solid rgba(0,0,0,0.12);}
.border-1-l-white-tp{border-left: 1px solid rgba(255,255,255,0.4);}
.border-1-r-lightgrey{border-right: 1px solid rgba(0,0,0,0.05);}
.border-1-r-grey{border-right: 1px solid rgba(0,0,0,0.12);}
.border-1-b-grey{border-bottom: 1px solid rgba(0,0,0,0.12);}
.border-1-b-grey-dotted{border-bottom: 1px dotted rgba(0,0,0,0.12);}
.border-1-tb-white{border-top: 1px solid rgba(255,255,255,0.2);border-bottom: 1px solid rgba(255,255,255,0.2);}
.border-1-tb-grey{border-top: 1px solid rgba(0,0,0,0.12);border-bottom: 1px solid rgba(0,0,0,0.12);}

.border-radius-2{border-radius: 2px;}
.border-radius-3{border-radius: 3px;}
.border-radius-4{border-radius: 4px;}
.border-radius-5{border-radius: 5px;}

.thead-border-t-grey{border-top:2px solid #ddd;}

/* LISTS */
.list-noblt{
	list-style-type: none;
	margin:0 0 10px 0;
	padding:0;
}
.list-noblt li{padding-bottom: 6px;}

.list-padding-sm li{padding-bottom: 10px;}

.list-padding-xs li{padding-bottom: 8px;}
.list-padding-xxs li{padding-bottom: 4px;}

.list-menu{font-size: 1.1em;}
.list-menu li{
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 20px;
	margin-bottom:4px;
	margin-top:4px;
}
.list-menu li.active, .list-menu li:hover{
	background-color: #eaeeee;
	border-color: #eaeeee;
	background-image: -moz-linear-gradient(top, #eaeeee, #fafafa);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eaeeee), to(#fafafa));
	background-image: -webkit-linear-gradient(top, #eaeeee, #fafafa);
	background-image: -o-linear-gradient(top, #eaeeee, #fafafa);
	background-image: linear-gradient(to bottom, #eaeeee, #fafafa);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaeeee', endColorstr='#fafafa', GradientType=0) background-color: #fafafa;
}

.fa-ul-2x{margin-left: 3em!important;}
.fa-ul-2x li{padding: 6px 0 6px;margin-bottom: 5px;}

.li-padding-h-md li{padding-left:15px; padding-right:15px;}

/* LINE-HEIGHT */
.lh-1{line-height: 1;}
.lh-md{line-height: 1.55;}
.lh-lg{line-height: 1.65;}
.lh-16{line-height: 16px;}
.lh-20{line-height: 20px;}
.lh-25{line-height: 25px;}
.lh-30{line-height: 30px;}
.lh-34{line-height: 34px;}
.lh-35{line-height: 35px;}
.lh-40{line-height: 40px!important;}
.lh-43{line-height: 43px;}
.lh-45{line-height: 45px;}
.lh-50{line-height: 50px!important;}
.lh-52{line-height: 52px;}
.lh-55{line-height: 55px;}
.lh-65{line-height: 65px;}
.lh-75{line-height: 75px;}
.lh-80{line-height: 80px;}
.lh-100{line-height:100px;}
.lh-120{line-height:120px;}
.lh-140{line-height:140px;}
.lh-200{line-height:200px;}

/* TABLES */
.table-col-1-str tbody td:first-child{font-weight: 700;}
.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td {
  border-top: 2px solid #ddd;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  padding: 10px;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
  font-weight: 400;
}

/* BOX SHADOWS */
.shadow-b-sm-grey{
	-moz-box-shadow: 0px 1px 1px 0px #ddd;
	-webkit-box-shadow: 0px 1px 1px 0px #ddd;
	box-shadow: 0px 1px 1px 0px #ddd;
}

/* WIDTH & HEIGHT */
.width-20{width:20px;}
.width-25{width:25px;}
.width-50{width:50px;}
.width-70{width:70px;}
.width-75{width:75px;}
.width-100{width:100px;}
.width-130{width:130px;}
.width-140{width:140px;}
.width-200{width:200px;}
.width-210{width:210px;}
.width-220{width:220px;}
.width-240{width:240px;}
.width-250{width:250px;}
.width-300{width:300px;}
.width-320{width:320px;}
.width-340{width:340px;}
.width-410{width:410px;}
.width-414{width:414px;}
.width-430{width:430px;}
.width-440{width:440px;}
.width-460{width:460px;}
.width-470{width:470px;}
.width-500{width:500px;}
.width-680{width:680px;}
.width-700{width:700px;}
.width-860{width:860px;}

.width-100p{width:100%;}
.width-80p{width:80%;}
.width-30p{width:30%;}
.width-21p{width:21%;}
.width-06p{width:6%;}
.width-05p{width:5%;}
.width-04p{width:4%;}

.max-width-50{max-width:50px;}

.height-600{height:600px;}
.height-475{height:475px;}
.height-400{height:400px;}
.height-320{height:320px;}
.height-300{height:300px;}
.height-275{height:275px;}
.height-250{height:250px;}
.height-235{height:235px;}
.height-200{height:200px;}
.height-120{height:120px;}
.height-100{height:100px;}
.height-75{height:75px;}
.height-65{height:65px;}
.height-60{height:60px;}
.height-55{height:55px;}
.height-50{height:50px;}
.height-40{height:40px;}
.height-34{height:34px;}
.height-15{height:15px;}
.height-10{height:10px;}
.height-5{height:5px;}

.height-100p{height:100%;}

.min-height-40{min-height:40px;}

/* HOVERS */
.hover-grey:hover{background-color: #f5f5f5;}

/* OTHERS */
.height-full{height:100%;}
.display-none{display:none;}
.overflow-auto{overflow: auto;}
.clearfix{clear: both;}
.cursor-pointer{cursor: pointer;}
.no-hover:hover{text-decoration: none;}
.position-relative{position: relative;}
.position-absolute{position: absolute;}
.position-fixed{position: fixed;}
.absolute-bottom{bottom: 0;}
.absolute-10p-left{left: 10%;}
.absolute-60p-left{left: 60%;}
.uppercase{text-transform: uppercase;}
.valign-middle{vertical-align:middle!important;}
.valign-bottom{vertical-align:bottom!important;}
.input-disabled{cursor: not-allowed;background-color: #eee;}
.border-box{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}


/* =========== */
/* HOME IMAGES */
/* =========== */

.image-bg-parceldark {
  background: url('../img/bg-img/parcel_dark.jpg') no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.image-bg-parcelblurred {
  background: url('../img/bg-img/parcel_blurred.jpg') no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.image-bg-parcelblurred2 {
  background: url('../img/bg-img/parcel_blurred2.jpg') no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.image-bg-parcelblurredwhite {
  background: url('../img/bg-img/parcel_blurredwhite.jpg') no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.image-bg-parcelpattern {
  background: url('../img/bg-img/parcel_pattern.jpg') no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.image-bg-parcelgreen {
  background: url('../img/bg-img/parcel_green.jpg') no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.image-bg-paypal {
  background: url('../img/bg-img/paypal_3.jpg') no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}


/* =============== */
/* FLOATING HEADER */
/* =============== */

.scroll-nav {z-index: 9999; position: fixed; left: 0; top: 0 !important; width: 100%;}


/* ===== */
/* LISTS */
/* ===== */

.ol-primary {padding-left:20px;}
.ol-primary li {color:#94c245; padding: 5px 0 5px 5px;}
.ol-primary span {color:#333;}


/* ===== */
/* PANEL */
/* ===== */

.panel-heading {
  padding: 5px 15px;
}

.panel-default .panel-heading {
  color: #808080;
}

/* ===== */
/* ALERT */
/* ===== */

.alert {
  border-radius: 2px;
  padding: 15px 20px 15px 20px;
}

.alert-default {
  background-color: #f3f3f3;
  color: #808080;
  text-align: center;
}

.alert-default-hover:hover {
  background-color: #e3e4e5;
}

.alert-default-inverse {
  background-color: #fff;
  border: 3px solid #f3f3f3;
  border-radius: 3px;
  color: #808080;
}

@media (max-width: 970px) {
  .alert-default-inverse {
    margin-bottom: 20px;
  }
}

.alert-default-inverse-hover:hover {
  background-color: #f3f3f3;
}

.alert-info {
  background-color: #f3f3f3;
  color: #808080;
}

.alert-info p::before{
  content: "";
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 7px 8px 0 0;
  float: left;
  background-color: #808080;
}

.alert-success {
  background-color: #f3f3f3;
  color: #91bf43;
}

.alert-success p::before{
  content: "";
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 7px 8px 0 0;
  float: left;
  background-color: #91bf43;
}

.alert-warning {
  background-color: #f3f3f3;
  color: #eb8e3e;
}

.alert-warning p::before{
  content: "";
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 7px 8px 0 0;
  float: left;
  background-color: #eb8e3e;
}

.alert-error {
  background-color: #f3f3f3;
  color: #f22020;
}

.alert-error p::before{
  content: "";
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 7px 8px 0 0;
  float: left;
  background-color: #f22020;
}

/* ======= */
/* CIRCLES */
/* ======= */

.circle-45{
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.circle-50{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.circle-inverse-55{
  border-radius: 50%;
  width: 55px;
  height: 55px;
  border: 3px solid #93c043;
}

/* ======= */
/* BUTTONS */
/* ======= */

.btn {
  padding: 7px 20px;
  border-radius: 3px;
  border: 2px solid;
  font-weight: 300;
}

.btn-sm {
  padding: 4px 12px;
  border-radius: 3px;
  border: 2px solid;
}

.btn-lg {
  font-size:15px;
  padding: 12px 35px!important;
}

.btn-primary {
  color: #ffffff;
  background-color: #91bf46;
  border-color: #91bf46;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #7eac33;
  border-color: #7eac33;
}

.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-image: none;
  border-color: #7eac33;
  background-color: #7eac33;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover,
.btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus,
.btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active,
.btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active,
.btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
  background-color: #93bf43;
  border-color: #93bf43;
}

.btn-primary-gradient {
  color: #ffffff;
  font-weight:400;
  padding: 9px 22px;
  background-color: #9fbe26;
  border: 0;
  background-repeat: repeat-x;
  /* FIRST / LEFT value is top color, SECOND / RIGHT value is bottom color */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a9c734", endColorstr="#9dbd23");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#a9c734), to(#9dbd23));
  background-image: -moz-linear-gradient(top, #a9c734, #9dbd23);
  background-image: -ms-linear-gradient(top, #a9c734, #9dbd23);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a9c734), color-stop(100%, #9dbd23));
  background-image: -webkit-linear-gradient(top, #a9c734, #9dbd23);
  background-image: -o-linear-gradient(top, #a9c734, #9dbd23);
  background-image: linear-gradient(#a9c734, #9dbd23);
}

.btn-primary-gradient:hover, .btn-primary-gradient:focus, .btn-primary-gradient:active, .btn-primary-gradient.active, .open .dropdown-toggle.btn-primary-gradient {
  color: #ffffff;
  background-color: #9fbe26;
  border: 0;
  background-repeat: repeat-x;
  /* FIRST / LEFT value is top color, SECOND / RIGHT value is bottom color */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a7c632", endColorstr="#92b017");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#a7c632), to(#92b017));
  background-image: -moz-linear-gradient(top, #a7c632, #92b017);
  background-image: -ms-linear-gradient(top, #a7c632, #92b017);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a7c632), color-stop(100%, #92b017));
  background-image: -webkit-linear-gradient(top, #a7c632, #92b017);
  background-image: -o-linear-gradient(top, #a7c632, #92b017);
  background-image: linear-gradient(#a7c632, #92b017);
}

.btn-primary-gradient:active, .btn-primary-gradient.active, .open .dropdown-toggle.btn-primary-gradient {
  background-image: none;
  background-color: #9fbe26;
  border: 0;
  background-repeat: repeat-x;
  /* FIRST / LEFT value is top color, SECOND / RIGHT value is bottom color */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#92b017", endColorstr="#a8c633");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#92b017), to(#a8c633));
  background-image: -moz-linear-gradient(top, #92b017, #a8c633);
  background-image: -ms-linear-gradient(top, #92b017, #a8c633);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #92b017), color-stop(100%, #a8c633));
  background-image: -webkit-linear-gradient(top, #92b017, #a8c633);
  background-image: -o-linear-gradient(top, #92b017, #a8c633);
  background-image: linear-gradient(#92b017, #a8c633);
}

.btn-grey {
  color: #3d454e;
  background-color: #e3e4e5;
  border-color: #e3e4e5;
}

.btn-grey:hover, .btn-grey:focus, .btn-grey:active, .btn-grey.active, .open .dropdown-toggle.btn-grey {
  color: #3d454e;
  background-color: #e3e4e5;
  border-color: #e3e4e5;
}

.btn-grey:active, .btn-grey.active, .open .dropdown-toggle.btn-grey {
  background-image: none;
  border-color: #e3e4e5;
  background-color: #e3e4e5;
}

.btn-grey.disabled, .btn-grey[disabled], fieldset[disabled] .btn-grey, .btn-grey.disabled:hover,
.btn-grey[disabled]:hover, fieldset[disabled] .btn-grey:hover, .btn-grey.disabled:focus,
.btn-grey[disabled]:focus, fieldset[disabled] .btn-grey:focus, .btn-grey.disabled:active,
.btn-grey[disabled]:active, fieldset[disabled] .btn-grey:active, .btn-grey.disabled.active,
.btn-grey[disabled].active, fieldset[disabled] .btn-grey.active {
  background-color: #93bf43;
  border-color: #93bf43;
}

.btn-inverse {
  color: #ffffff;
  background-color: transparent;
  border:2px solid #fff;
}

.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .open .dropdown-toggle.btn-inverse {
  color: #333;
  background-color: #fff;
  border:2px solid #fff;
}

.btn-inverse:active, .btn-inverse.active, .open .dropdown-toggle.btn-inverse {
  color: #ffffff;
  background-color: transparent;
  border:2px solid #fff;
}

.btn-inverse.disabled, .btn-inverse[disabled], fieldset[disabled] .btn-inverse, .btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover, fieldset[disabled] .btn-inverse:hover, .btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus, fieldset[disabled] .btn-inverse:focus, .btn-inverse.disabled:active,
.btn-inverse[disabled]:active, fieldset[disabled] .btn-inverse:active, .btn-inverse.disabled.active,
.btn-inverse[disabled].active, fieldset[disabled] .btn-inverse.active {
  color: #ffffff;
  background-color: transparent;
  border:2px solid #fff;
}

.btn-primary-inverse {
  color: #434343;
  background-color: transparent;
  border:2px solid #91bf46;
}

.btn-primary-inverse:hover, .btn-primary-inverse:focus, .btn-primary-inverse:active, .btn-primary-inverse.active, .open .dropdown-toggle.btn-primary-inverse {
  color: #fff;
  background-color: #91bf46;
  border:2px solid #91bf46;
}

.btn-primary-inverse:active, .btn-primary-inverse.active, .open .dropdown-toggle.btn-primary-inverse {
  color: #434343;
  background-color: transparent;
  border:2px solid #91bf46;
}

.btn-primary-inverse.disabled, .btn-primary-inverse[disabled], fieldset[disabled] .btn-primary-inverse, .btn-primary-inverse.disabled:hover,
.btn-primary-inverse[disabled]:hover, fieldset[disabled] .btn-primary-inverse:hover, .btn-primary-inverse.disabled:focus,
.btn-primary-inverse[disabled]:focus, fieldset[disabled] .btn-primary-inverse:focus, .btn-primary-inverse.disabled:active,
.btn-primary-inverse[disabled]:active, fieldset[disabled] .btn-primary-inverse:active, .btn-primary-inverse.disabled.active,
.btn-primary-inverse[disabled].active, fieldset[disabled] .btn-primary-inverse.active {
  color: #434343;
  background-color: transparent;
  border:2px solid #fff;
}

.btn-grey-inverse {
  color: #808080;
  background-color: transparent;
  border:2px solid #e3e4e5;
}

.btn-grey-inverse:hover, .btn-grey-inverse:focus, .btn-grey-inverse:active, .btn-grey-inverse.active, .open .dropdown-toggle.btn-grey-inverse {
  color: #808080;
  background-color: #e3e4e5;
  border:2px solid #e3e4e5;
}

.btn-grey-inverse:active, .btn-grey-inverse.active, .open .dropdown-toggle.btn-grey-inverse {
  color: #808080;
  background-color: #e3e4e5;
  border:2px solid #e3e4e5;
}

.btn-grey-inverse.disabled, .btn-grey-inverse[disabled], fieldset[disabled] .btn-grey-inverse, .btn-grey-inverse.disabled:hover,
.btn-grey-inverse[disabled]:hover, fieldset[disabled] .btn-grey-inverse:hover, .btn-grey-inverse.disabled:focus,
.btn-grey-inverse[disabled]:focus, fieldset[disabled] .btn-grey-inverse:focus, .btn-grey-inverse.disabled:active,
.btn-grey-inverse[disabled]:active, fieldset[disabled] .btn-grey-inverse:active, .btn-grey-inverse.disabled.active,
.btn-grey-inverse[disabled].active, fieldset[disabled] .btn-grey-inverse.active {
  color: #808080;
  background-color: transparent;
  border:2px solid #e3e4e5;
}

.btn-blue {
  color: #fff;
  background-color: #56acdb;
  border:2px solid #56acdb;
}

.btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue.active, .open .dropdown-toggle.btn-blue {
  color: #fff;
  background-color: #4599d0;
  border:2px solid #4599d0;
}

.btn-blue:active, .btn-blue.active, .open .dropdown-toggle.btn-blue {
  color: #fff;
  background-color: #4599d0;
  border:2px solid #4599d0;
}

.btn-blue.disabled, .btn-blue[disabled], fieldset[disabled] .btn-blue, .btn-blue.disabled:hover,
.btn-blue[disabled]:hover, fieldset[disabled] .btn-blue:hover, .btn-blue.disabled:focus,
.btn-blue[disabled]:focus, fieldset[disabled] .btn-blue:focus, .btn-blue.disabled:active,
.btn-blue[disabled]:active, fieldset[disabled] .btn-blue:active, .btn-blue.disabled.active,
.btn-blue[disabled].active, fieldset[disabled] .btn-blue.active {
  color: #fff;
  background-color: #56acdb;
  border:2px solid #56acdb;
}

.btn-blue-gradient {
  color: #ffffff;
  font-weight:400;
  padding: 9px 22px;
  background-color: #56acdb;
  border: 0;
  background-repeat: repeat-x;
  /* FIRST / LEFT value is top color, SECOND / RIGHT value is bottom color */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#56afde", endColorstr="#4599d0");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#56afde), to(#4599d0));
  background-image: -moz-linear-gradient(top, #56afde, #4599d0);
  background-image: -ms-linear-gradient(top, #56afde, #4599d0);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #56afde), color-stop(100%, #4599d0));
  background-image: -webkit-linear-gradient(top, #56afde, #4599d0);
  background-image: -o-linear-gradient(top, #56afde, #4599d0);
  background-image: linear-gradient(#56afde, #4599d0);
}

.btn-blue-gradient:hover, .btn-blue-gradient:focus, .btn-blue-gradient:active, .btn-blue-gradient.active, .open .dropdown-toggle.btn-blue-gradient {
  color: #ffffff;
  background-color: #4599d0;
  border: 0;
  background-repeat: repeat-x;
  /* FIRST / LEFT value is top color, SECOND / RIGHT value is bottom color */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#53addd", endColorstr="#338cc7");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#53addd), to(#338cc7));
  background-image: -moz-linear-gradient(top, #53addd, #338cc7);
  background-image: -ms-linear-gradient(top, #53addd, #338cc7);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #53addd), color-stop(100%, #338cc7));
  background-image: -webkit-linear-gradient(top, #53addd, #338cc7);
  background-image: -o-linear-gradient(top, #53addd, #338cc7);
  background-image: linear-gradient(#53addd, #338cc7);
}

.btn-blue-gradient:active, .btn-blue-gradient.active, .open .dropdown-toggle.btn-blue-gradient {
  background-image: none;
  background-color: #4599d0;
  border: 0;
  background-repeat: repeat-x;
  /* FIRST / LEFT value is top color, SECOND / RIGHT value is bottom color */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#338cc7", endColorstr="#54aede");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#338cc7), to(#54aede));
  background-image: -moz-linear-gradient(top, #338cc7, #54aede);
  background-image: -ms-linear-gradient(top, #338cc7, #54aede);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #338cc7), color-stop(100%, #54aede));
  background-image: -webkit-linear-gradient(top, #338cc7, #54aede);
  background-image: -o-linear-gradient(top, #338cc7, #54aede);
  background-image: linear-gradient(#338cc7, #54aede);
}

.btn-red {
  color: #fff;
  background-color: #e76762;
  border:2px solid #e76762;
}

.btn-red:hover, .btn-red:focus, .btn-red:active, .btn-red.active, .open .dropdown-toggle.btn-red {
  color: #fff;
  background-color: #db5e58;
  border:2px solid #db5e58;
}

.btn-red:active, .btn-red.active, .open .dropdown-toggle.btn-red {
  color: #fff;
  background-color: #db5e58;
  border:2px solid #db5e58;
}

.btn-red.disabled, .btn-red[disabled], fieldset[disabled] .btn-red, .btn-red.disabled:hover,
.btn-red[disabled]:hover, fieldset[disabled] .btn-red:hover, .btn-red.disabled:focus,
.btn-red[disabled]:focus, fieldset[disabled] .btn-red:focus, .btn-red.disabled:active,
.btn-red[disabled]:active, fieldset[disabled] .btn-red:active, .btn-red.disabled.active,
.btn-red[disabled].active, fieldset[disabled] .btn-red.active {
  color: #fff;
  background-color: #e76762;
  border:2px solid #e76762;
}

.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #93bf43;
}

.btn-group>.btn.dropdown-toggle {
  border-left: 1px solid rgba(255,255,255,0.4);
}

.dropdown-menu li>a:hover, .dropdown-menu li>a:focus, .dropdown-submenu:hover>a {
  background-color: #93bf43;
  color:#fff;
  background-image: none;
}

.dropdown-menu-blue li>a:hover, .dropdown-menu-blue li>a:focus {
  background-color: #56acdb;
}

.btn-orders{
  width:110px;
}


/* ============= */
/* IMG GREYSCALE */
/* ============= */

img.greyscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img.greyscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

/* ====== */
/* NAVBAR */
/* ====== */

@media (min-width: 1200px) {.nav-wide{margin-left:10%; margin-right:10%;}}
@media (max-width: 1200px) {
  .nav-wide{
    width:970px;
    max-width:none!important;
    margin-right: auto;
    margin-left: auto;
    padding-right:15px;
    padding-left:15px;
    }
  }

.navbar-nav-ur li {
  float:left;
}

.nav>li>a {
  padding: 10px 25px;
  border:0;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: underline;
  background-color: transparent;
  border:0;
}

.nav-white>li>a {
  color:#fff;
}
.nav-white > li > a:hover,
.nav-white > li > a:focus {
  color:#fff;
}

.nav-blue>li>a {
  color:#3c444e;
}
.nav-blue > li > a:hover,
.nav-blue > li > a:focus {
  color:#3c444e;
}

.nav-darkgrey>li>a {
  color:#3d454e;
}
.nav-darkgrey > li > a:hover,
.nav-darkgrey > li > a:focus {
  color:#3d454e;
}

.nav-internal > li > a{
  padding: 12px 40px;
  color: #808080;
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight:400;
}

.nav-internal > li > a:hover,
.nav-internal > li > a:focus{
  text-decoration: none;
  background-color:#fff;
  margin-right: -1px;
}

.nav-internal .active{
  background-color:#fff;
  border-right:1px solid #fff;
  margin-right:-1px;
}

.nav-internal .active a{
  font-weight:700;
  color: #434343;
}

.nav-logout{
  bottom:30px;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: transparent;
  border-color: transparent;
}

#main_nav_dropdown_more {
  margin-top: -8px;
  margin-left: 25px;
  border: 1px solid rgba(0,0,0,0);
  text-transform: none;
}
#main_nav_dropdown_more li {
  float: none;
}
#main_nav_dropdown_more li a {
  color:#434343;
}
#main_nav_dropdown_more li a:hover, #main_nav_dropdown_more li a:focus {
  background-color: #f5f5f5;
}

/* ========== */
/* PAGINATION */
/* ========= */

.pagination {
  border-radius: 2px;
}

.pagination>li>a, .pagination>li>span {
  color: #93c043;
}
.pagination>li>a:hover, .pagination>li>a:active{
  color: #93c043;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  background-color: #93c043;
  border-color: #779d34;
}

/* ======== */
/* DROPDOWN */
/* ======== */

.dropdown-menu-grey-transparent{
  background-color: #191a1e;
  margin: -5px 0 0 0;
  width: 100%;
  border-radius:3px;
  border:0;
  padding: 10px 0;
}

.dropdown-menu-grey-transparent li {
  padding: 3px 0 3px 18px;
}
.dropdown-menu-grey-transparent li:hover {
  background-color: #000;
}


/* ===== */
/* LABEL */
/* ===== */

.label-default{
  font-weight:300;
  background-color: #cccac7;

}

/* ===== */
/* FORMS */
/* ===== */

.form-control {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.045);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.045);
  -webkit-transition: none;
  transition: none;
  font-weight: 400;
}

.form-control:focus {
  border:2px solid #93c043;
  padding: 5px 11px;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;

}

label {
  font-weight: 400;
}

.select-blank {
  -webkit-appearance: none;
  display: inline-block;
  padding-right:25px;
}
.select-blank:focus {
  padding-right:25px;
}

.select-green{
  color:#93c043;
}

selectouter {
  position:relative;
}

selectouter::after {
  right:10px;
  top:0px;
  position:absolute;
  padding:0 0 2px;
  content:'▼';
  font-size:11px;
  pointer-events:none;
}

/* hide arrow down content in firefox because it sucks */
@-moz-document url-prefix() {
  selectouter::after {
    content:'';
  }
}

/*hide arrow up/down buttons in number text field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.order_row .checkbox, .checkbox_margin_sm .checkbox {
  margin-top: 5px;
  margin-bottom: 5px;
}

.order_row_th th {
  padding-bottom: 12px!important;
}

/* === */
/* PRE */
/* === */

pre {
  border: 0;
  padding: 20px 40px;
}

/* ======= */
/* TOOLTIP */
/* ======= */

/* Tooltip has to respect line breaks */
div.tooltip-inner {
    max-width: 350px;
    white-space:pre-wrap;
}


/* ==== */
/* DOCS
/* ==== */

#docs_left_navigation{
  border-right: 1px solid #e3e4e5;
  background-color: white;
  padding-top:20px;
  overflow: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 220px;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

#docs_left_navigation ul {
  margin: 0;
  padding: 0;
}

#docs_left_navigation ul li {
  list-style-type: none;
}

#docs_left_navigation ul li span {
  color: #808080;
  font-weight:700;
  padding-left: 25px;
  font-size:0.9em;
}

#docs_left_navigation ul li:hover, #docs_left_navigation ul .active {
  background-color: #93c043;
}
#docs_left_navigation ul .no-hover:hover{
  background-color: transparent;
}
#docs_left_navigation ul li:hover a, #docs_left_navigation ul .active a {
  color: white;
}

#docs_left_navigation ul li a {
  padding: 4px 0 4px 25px;
}

#docs_contents_outer{
  margin-left: 220px;
}

#docs_contents{
  webkit-box-shadow: #0f131a -1px 0 0,rgba(0,0,0,0.05) 1px 0 2px inset;
  -moz-box-shadow: #0f131a -1px 0 0,rgba(0,0,0,0.05) 1px 0 2px inset;
  -ms-box-shadow: #0f131a -1px 0 0,rgba(0,0,0,0.05) 1px 0 2px inset;
  -o-box-shadow: #0f131a -1px 0 0,rgba(0,0,0,0.05) 1px 0 2px inset;
  box-shadow: #0f131a -1px 0 0,rgba(0,0,0,0.05) 1px 0 2px inset;
  background-color: #292e33;
  margin-left: 50%;
  position: relative;
  font-size: 0.95em;
  margin-top: -20px;
}

#docs_section{
  clear: left;
  margin-left: -100%;
  padding-top: 45px;
  position: relative;
}

#docs_section_left{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  float: left;
  padding: 0 30px;
  position: relative;
  width: 50%;
  z-index: 15;
  margin-bottom: 30px;
}

#docs_section_left:before{
  background-color: #e4e8eb;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  right: 1px;
  top: -45px;
}

#docs_section_right {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-left: 50%;
  padding: 50px 30px 0;
  position: relative;
  text-shadow: 0 1px 0 rgba(0,0,0,0.7);
  width: 50%;
}

#docs_section_right:after {
  background: -webkit-linear-gradient(left,#0f131a,rgba(15,19,26,1));
  background: -moz-linear-gradient(left,#0f131a,rgba(15,19,26,1));
  background: -o-linear-gradient(left,#0f131a,rgba(15,19,26,1));
  background: linear-gradient(right,#0f131a,rgba(15,19,26,1));
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  top: -45px;
}

#docs_section_right:after {
  background: -webkit-linear-gradient(left,#45494c,rgba(69,73,76,1));
  background: -moz-linear-gradient(left,#45494c,rgba(69,73,76,1));
  background: -o-linear-gradient(left,#45494c,rgba(69,73,76,1));
  background: linear-gradient(right,#45494c,rgba(69,73,76,1));
  top: -44px;
}

#docs_section_right pre {
  background-color: transparent;
  padding: 0;
  color: white;
  font-size: 0.9em;
  font-weight: 200;
}

.docs_section_right_table td:first-child{

}
.docs_section_right_table td:nth-child(2){

}

.docs_required {
  font-size: 0.8em;
  font-weight: 200;
}

#docs_left_navigation .nav>.active>ul {
display: block;
}

#docs_left_navigation .nav>.active:focus>a
{
  background-color: transparent;
  border-left: 2px solid #563d7c;
  color: #563d7c;
  font-weight: 700;
  padding-left: 18px;
}

#docs_left_navigation .nav .nav
{
  display: none;
  padding-bottom: 10px;
  background-color : white;
}

#docs_left_navigation .nav .nav>li>a
{
  font-size: 12px;
  font-weight: 400;
  padding-left: 30px;
  padding-top: 1px;
  background-color: white;
  color : #93c043;
}

#docs_left_navigation .nav .nav>li>a:hover,#docs_left_navigation .nav .nav>li>a:focus
{
  padding-left: 29px;
}

#docs_left_navigation .nav .nav>.active>a,#docs_left_navigation .nav .nav>.active:hover>a,#docs_left_navigation .nav .nav>.active:focus>a
{
  font-weight: 600;
  padding-left: 26px;
}


/* ========== */
/* PRETTYJSON */
/* ========== */
.json_string { color: green; }
.json_number { color: darkorange; }
.json_boolean { color: blue; }
.json_null { color: magenta; }
.json_key { color: #93c043; }

#docs_section_right pre .json_string { color: #e5da78; }
#docs_section_right pre .json_number { color: darkorange; }
#docs_section_right pre .json_boolean { color: #dae4f2; }
#docs_section_right pre .json_null { color: #dae4f2; }
#docs_section_right pre .json_key { color: #e5da78; }


/*
==========================================================
DATEPICKER
==========================================================
*/

.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /*.dow {
    border-top: 1px solid #ddd !important;
  }*/

}
.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}
.datepicker > div {
  display: none;
}
.datepicker table {
  width: 100%;
  margin: 0;
}
.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}
.datepicker td.day.disabled {
  color: #eeeeee;
}
.datepicker td.old,
.datepicker td.new {
  color: #999999;
}
.datepicker td.active,
.datepicker td.active:hover {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
  background-color: #003399 \9;
}
.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td span:hover {
  background: #eeeeee;
}
.datepicker td span.active {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.datepicker td span.active:active,
.datepicker td span.active.active {
  background-color: #003399 \9;
}
.datepicker td span.old {
  color: #999999;
}
.datepicker th.switch {
  width: 145px;
}
.datepicker th.next,
.datepicker th.prev {
  font-size: 21px;
}
.datepicker thead tr:first-child th {
  cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
  background: #eeeeee;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

/*
==========================================================
HOPSCOTCH CUSTOMIZATION
==========================================================
*/

div.hopscotch-bubble .hopscotch-bubble-number {
  padding: 0!important;
}
div.hopscotch-bubble .hopscotch-bubble-close {
  width: 25px!important;
}

